<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Transactions</title>
</head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Your Transactions</h1>
    <ul>
        <% transactions.forEach((transaction)=> { %>
            <li>Transaction: <%= transaction.transactionID %>
                <a href="/transactions/<%= transaction.transactionID %>">View</a>
            </li>
            <% }) %>
    </ul>
  </body>
</html>
